.card {
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
  display: inline-block;
  padding: 1.5rem;
  transition: 0.3s;
  &:hover {
    .card__title {
      color: #5a3320;
    }
    .btn {
      background-color: #5a3320;
    }
    figure .btn {
      opacity: 1;
      background-color: #d15f31;
    }
    & .sale::before {
      background-color: #5a3320;
      color: #ffffff;
    }
    figure::after {
      animation: slide 0.65s;
      animation-delay: 0.1s;
    }
  }

  figure {
    overflow: hidden;
    position: relative;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 220px;

    .btn {
      position: absolute;
      bottom: 50%;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      z-index: 1;
      &:hover {
        background-color: #5a3320;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 12rem;
      height: 95%;
      background-color: transparent;
      box-shadow: 33px -15px 29px 13px #ffffff;
      opacity: 0.7;
    }
    &.sale::before {
      content: "Sale!";
      position: absolute;
      top: -20px;
      right: -48px;
      padding: 3rem 4rem 0px;
      background-color: #e6d1b5;
      color: #5a3320;
      transform: rotate(45deg);
      z-index: 1;
    }
  }
  &__title {
    color: #d15f31;
    cursor: pointer;
  }
  &__img {
    border-radius: 0.5rem;
    width: 100%;
    border: 1px solid #e2ddd1;
  }
  .btn {
    margin: auto;
    margin-top: 1.2rem;
  }
}

@keyframes slide {
  from {
    right: 0;
  }
  to {
    right: 100%;
  }
}
