.post{
    max-width: 100%;
    padding: 0 14px;
    &__img{
        height: 174px;
        width: 100%;
        overflow: hidden;
        position: relative;
        img{
            transition: 1s;
            width: 100%;
            object-fit: cover;
        }
        .post__over-lay{
            transition: 0.5s;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba($color: #000000, $alpha: 0.4);
            opacity: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                font-size: 1.6rem;
                background-color: rgba($color: #000000, $alpha: 0.3);
                color: #fff;
                border-radius: 99999px;
                border: 2px solid #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 12px;
                transition: 0.5s;
                &:hover{
                    background-color: rgba($color: #000000, $alpha: 0.7); 
                }
            }
            a + a{
                margin-left: 18px;;
            }
        }
    }
    &__author{
        width: 100%;
        display: flex;
        background: #cc5f2e;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        font-family: 'lato';
        color: #fff;
        padding : 8px 10px;
        text-transform: capitalize;
    }
    &__icon{
        margin-right: 5px;
        font-size: 1.4rem;
    }
    &__date{
        display: flex;
        margin-left: 5px;
        align-items: center;
    }
    &:hover{
        img{
            transform: scale(1.2);
        }
        .post__over-lay{
            opacity: 1;
            transition: 0.5s;
        }
    }
    &__content{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__title{
        margin: 10px 0;
        a{
            color: #d15f31;
        text-transform: capitalize;
        font-size: 1.4rem;
        font-family: 'Roboto Slab', serif; 
        text-decoration: none;
        &:hover{
            color: #000000;
        }
        }
    }
    &__desc{
        font-size: 1.4rem;
        color: #777777;
        font-family: 'lato', sans-serif;
    }
    &__footer{
        font-size: 1.4rem;
        font-family: 'lato', sans-serif;
        color: #d15f31;
        font-style: italic;
        text-decoration: none;
        display: flex;
        align-items: center;
        svg{
            margin-right: 10px;
        }
    }
}